@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
:root {
  --container-max: 1200px;
}
body {
  @apply bg-white text-gray-800;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
.container-max {
  max-width: var(--container-max);
}
